<div class="container">
    <div class="search">
        <mat-form-field appearance="outline">
            <mat-label class="mat-wrapper">Pesquise por um usuário do Github</mat-label>
            <input 
                type="text"
                matInput
                [formControl]="usernameToFind"
                (keyup.enter)="showDialog()"
            >
            <mat-error>
                Informe um nome de usuário para ser pesquisado!
            </mat-error>
        </mat-form-field>
        <button 
            mat-stroked-button 
            color="primary"
            [disabled]="usernameToFind.invalid"
            (click)="showDialog()"
        >
            <mat-icon>search</mat-icon>
        </button>
    </div>
</div>
